arabic-reshaper
asgiref
asn1crypto
certifi
cffi
chardet
charset-normalizer
click
colorama
crispy-bootstrap5
cryptography
cssselect2
Django
django-crispy-forms
django-extensions
html5lib
idna
lxml
MouseInfo
numpy
opencv-contrib-python
oscrypto
pillow
PyAutoGUI
pycparser
PyGetWindow
pyHanko
pyhanko-certvalidator
PyMsgBox
pypdf
pyperclip
PyRect
PyScreeze
python-bidi
python-dotenv
pytweening
PyYAML
qrcode
reportlab
requests
six
sqlparse
svglib
tinycss2
tzdata
tzlocal
uritools
urllib3
webencodings
xhtml2pdf