<footer class="footer bg-blue-900 text-white relative border-b-2 mt-10">
    <div class="container mx-auto px-6 text-center">
        <p class="text-md text-white font-bold mb-2">
            © {% now "Y" %} Developed by Mirza Niaz Morshed
        </p>
        <div class="mt-3">
            <p class="text-sm text-white mb-2">
                For any inquiries or feedback, feel free to contact me.
            </p>
            <p class="text-sm text-white mb-2">
                Here is my <a href="https://github.com/mirzaniazmorshed" target="_blank" class="text-blue-400 hover:text-blue-300">GitHub</a>, <a href="https://www.linkedin.com/in/mirzaniazmorshed" target="_blank" class="text-blue-400 hover:text-blue-300">LinkedIn</a>, and <a href="https://www.facebook.com/mirzaniazmorshed" target="_blank" class="text-blue-400 hover:text-blue-300">Facebook</a>.
            </p>
        </div>
    </div>
</footer>
